.item {
  float: left;
  width: 96px;
  height: 96px;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  position: relative;
}

.itemImage {
  width: 100%;
  height: 100%;
}

.itemMask {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 78px;
  height: 78px;
}

.itemMaskActive {
  background-color: #000000;
  opacity: 0.5;
}

.itemCheckIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
  font-size: 28px;
  width: 28px;
  color: #ffffff;
  cursor: pointer;
}

.itemPreviewIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -22px;
  font-size: 16px;
  width: 16px;
  color: #ffffff;
  cursor: pointer;
}

.itemRemoveIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: 10px;
  font-size: 16px;
  width: 16px;
  color: #ffffff;
  cursor: pointer;
}

.button {
  float: left;
  width: 96px;
  height: 96px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #fbfbfb;
  border: 1px dashed #d9d9d9;
  text-align: center;
  cursor: pointer;
}

.buttonIcon {
  font-size: 28px;
  color: #999;
  margin-top: 20px;
}

.buttonText {
  color: #999;
}
